.wel {
    height: 180px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: var(--motivate-back);
    border-radius: 20px;
    width: 97%;
    z-index: -2;
}

.wel>img {
    height: 240px;
    position: absolute;
    right: 35px;
    top: 40px;
}

.wel>h2 {
    position: relative;
    top: 48px;
    left: 50px;
    max-width: 500px;
    color: var(--motivate-head);
    font-weight: bold;
    font-size: 20px;
}

.wel>p {
    position: relative;
    top: 42px;
    left: 50px;
    max-width: 500px;
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 15px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.action-required {
    width: 450px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: var(--shadow-md);
    border: 1px solid var(--border-light);
    border-radius: 20px;
    background-color: var(--bg-tertiary);
}

.action-required>h2 {
    font-size: 20px;
    margin-left: 10px;
    color: var(--text-primary);
}

.action-required>div>div:first-child {
    height: 50px;
    width: 60px;
    background-color: var(--bg-hover);
    border-radius: 5px;
}

.action-required>div {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: var(--shadow-sm);
    background-color: var(--bg-primary);
    border: 1px solid var(--border-light);
    border-radius: 10px;
    width: 95%;
    transition: transform 0.1s ease;
}

.action-required>div:hover {
    transform: scale(1.01);
}

.action-required>div:active {
    transform: scale(1);
}

.action-required>div>div>p {
    width: 260px;
    margin-left: 15px;
    margin-right: 10px;
    color: var(--text-primary);
}

.action-required>div>img {
    height: 30px;
    margin-left: 30px;
    opacity: 0.8;
}

.action-required>div>div>p:not(:first-child) {
    margin-top: -10px;
    color: var(--text-tertiary);
}

.aboutSec {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.aboutAction {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.aboutAction>img {
    height: 250px;
    border-radius: 20px;
    box-shadow: var(--shadow-md);
}

.aboutAction>div>p {
    width: 90%;
    color: var(--text-secondary);
}

.aboutAction>div>div {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 120px;
    height: 30px;
    font-size: 18px;
    color: var(--accent-info);
    cursor: pointer;
}

.aboutAction>div>div>img {
    height: 20px;
    transform: rotate(45deg);
    margin-left: 5px;
}

.today-track {
    width: 450px;
    padding: 20px;
    box-shadow: var(--shadow-md);
    border: 1px solid var(--border-light);
    border-radius: 20px;
    background-color: var(--bg-tertiary);
}

.today-track>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.today-track>div:first-child>h2 {
    font-size: 20px;
    margin-left: 10px;
    color: var(--text-primary);
}

.today-track>div:first-child>img {
    height: 25px;
    cursor: pointer;
}


.pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.pro>p {
    width: 45px;
    text-align: right;
    color: var(--text-primary);
}

.pro>.bar {
    border: 1px solid var(--accent-success);
    height: 16px;
    width: 350px;
    margin-right: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.pro>.bar>.state {
    height: 16px;
    background-color: var(--accent-success);
    border-radius: 30px;
    transition: all 0.5s ease;
}


.today-track>div:nth-child(n + 3) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.today-track>div:nth-child(3) {
    margin-top: 5px;
}

.today-track>div:nth-child(n + 3)>p {
    width: 290px;
    font-size: 18px;
    color: var(--text-secondary);
}

.today-track>div:nth-child(n + 3)>button {
    height: 30px;
    width: 110px;
    background-color: var(--bg-card);
    border-radius: 40px;
    font-size: 15px;
    color: var(--text-primary);
    border: 1px solid var(--border-light);
}

.done {
    color: var(--accent-success);
    border: 2px solid var(--accent-success) !important;
}

.comp {
    border: 2px solid var(--text-tertiary) !important;
    color: var(--text-tertiary);
}

.create-new-task {
    width: 90%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding-top: 20px;
}

.create-new-task>form {
    display: flex;
    width: 100%;
    gap: 10px;
}

.create-new-task>form>button {
    background-color: transparent;
    border: 1px solid var(--accent-info);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: var(--accent-info);
    padding: 0px 10px;
}

[data-theme="dark"] .action-required>div>img,
[data-theme="dark"] .today-track>div:first-child>img {
    filter: invert(1);
    opacity: 1;
}

@Media (max-width: 768px) {
    .wel {
        height: 120px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wel>img {
        display: none;
        ;
    }

    .wel>h2 {
        display: relative;
        top: 0;
        left: 0;
        width: 90%;
        color: var(--motivate-head);
        font-weight: bold;
        font-size: 18px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .wel>p {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 90%;
        max-width: 500px;
        color: var(--text-secondary);
        font-weight: bold;
        font-size: 15px;
        margin-left: 30px;
    }

    .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .action-required {
        width: 95%;
        padding: 20px;
        padding-top: 10px;
        box-shadow: var(--shadow-md);
        border: 1px solid var(--border-light);
        border-radius: 20px;
    }

    .action-required>h2 {
        font-size: 20px;
        margin-left: 10px;
    }

    .action-required>div>div:first-child {
        height: 50px;
        width: 60px;
        background-color: var(--bg-hover);
        border-radius: 5px;
    }

    .action-required>div {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        margin-top: 15px;
        box-shadow: var(--shadow-sm);
        border: 1px solid var(--border-light);
        border-radius: 10px;
        width: 95%;
        transition: transform 0.1s ease;
    }

    .action-required>div:hover {
        transform: scale(1.01);
    }

    .action-required>div:active {
        transform: scale(1);
    }

    .action-required>div>div>p {
        width: 200px;
        margin-left: 15px;
        margin-right: 10px;
    }

    .action-required>div>img {
        height: 30px;
    }


    .action-required>div>div>p:not(:first-child) {
        margin-top: -10px;
    }

    .cont {
        flex-direction: column;
        align-items: center;
    }

    .action-required {
        width: 90%;
        margin-bottom: 30px;
    }

    .aboutSec {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .aboutAction {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .aboutAction>img {
        height: auto;
        width: 90vw;
        border-radius: 20px;
        box-shadow: var(--shadow-lg);
    }

    .aboutAction>div>p {
        width: 90%;
    }

    .aboutAction>div>div {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 120px;
        height: 30px;
        font-size: 18px;
        color: var(--accent-info);
        cursor: pointer;
    }

    .aboutAction>div>div>img {
        height: 20px;
        transform: rotate(45deg);
        margin-left: 5px;
    }

    .today-track {
        width: 90%;
    }

    .pro>.bar {
        width: 260px;
    }

    .today-track>div:nth-child(n + 3)>p {
        width: 215px;
        font-size: 18px;
    }

    .today-track>div:nth-child(n + 3)>button {
        height: 25px;
        width: 90px;
        font-size: 13px;
    }

}