.wel {
    height: 180px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgba(255, 227, 227, 0.78);
    border-radius: 20px;
    width: 98%;
    z-index: -2;
}

.wel > img {
    height: 240px;
    position: absolute;
    right: 35px;
    top: 40px;
}

.wel > h2 {
    position: relative;
    top: 48px;
    left: 50px;
    max-width: 500px;
    color: rgba(227, 80, 80, 0.89);
    font-weight: bold;
    font-size: 20px;
}

.wel > p {
    position: relative;
    top: 42px;
    left: 50px;
    max-width: 500px;
    color: rgba(61, 61, 61, 0.856);
    font-weight: bold;
    font-size: 15px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.action-required {
    width: 450px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.action-required > h2 {
    font-size: 20px;
    margin-left: 10px;
}

.action-required > div > div:first-child {
    height: 50px;
    width: 60px;
    background-color: rgba(223, 223, 223, 1);
    border-radius: 5px;
}

.action-required > div{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.25);
    border: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 95%;
    transition: transform 0.1s ease;
}

.action-required > div:hover {
    transform: scale(1.01);
}

.action-required > div:active {
    transform: scale(1);
}

.action-required > div > div > p {
    width: 260px;
    margin-left: 15px;
    margin-right: 10px;
}

.action-required > div > img{
    height: 30px;
}


.action-required > div > div > p:not(:first-child) {
    margin-top: -10px;
}