.nav {
    height: 100vh;
    width: 182px;
    position:fixed;
    top: 0px;
    left: 0px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.171);
    z-index: 2;
    background-color: white;
}

.nav > div {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav > .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 35px;
    cursor: default;
}

.nav > .logo-box > .logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    /* border: 2px solid red; */
}

.nav > .logo-box > .name {
    height: 23px;
    width: 80px;
    /* border: 2px solid red; */
}

.nav > .dashboard > img, .nav > .action > img, .nav > .ai > img, .nav > .test > img, .nav > .friend > img, .nav > .setting > img { 
    height: 22px;
    width: 22px;
    margin-right: 15px;
    margin-left: 30px;
}

.nav > .dashboard, .nav > .action, .nav > .ai, .nav > .test, .nav > .friend, .nav > .setting {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: rgba(86, 86, 86, 0.67);
    height: 35px;
    margin-bottom: 17px;
    width: 180px;
}

.nav > .dashboard:hover, .nav > .action:hover, .nav > .ai:hover, .nav > .test:hover, .nav > .friend:hover, .nav > .setting:hover {
    background-color: rgba(128, 128, 128, 0.048);
}

.active > p{
    color: black;
}

.active {
    display: block;
    border-right: 3px solid black;
    width: 20px;
}

.outlet {
    width: 84vw;
    position: absolute;
    top: 10px;
    right: 15px;
    /* border:1px solid red; */
}

h3 {
    position: absolute;
    top: 5px;
    left: 40px;
    text-align: left;
}


.home > .trop {
    position: absolute;
    right: 35px;
    top: 30px;
}