.home-page {
    display: flex;
    flex-direction: column;
}

.head-mobile {
    display: none;
}

.nav {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav ,nav > div{
    height: 100vh;
    width: 182px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.171);
    z-index: 2;
    background-color: white;
}

.nav>div>div {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.nav>div>.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 35px;
    cursor: default;
}

.nav>div>.logo-box>.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    /* border: 2px solid red; */
}

.nav>div>.logo-box>.name {
    height: 23px;
    width: 80px;
    /* border: 2px solid red; */
}

.nav>div>.dashboard>img,
.nav>div>.action>img,
.nav>div>.ai>img,
.nav>div>.test>img,
.nav>div>.friend>img,
.nav>div>.setting>img {
    height: 22px;
    width: 22px;
    margin-right: 15px;
    margin-left: 30px;
}

.nav>div>.dashboard,
.nav>div>.action,
.nav>div>.ai,
.nav>div>.test,
.nav>div>.friend,
.nav>div>.setting {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: rgba(86, 86, 86, 0.67);
    height: 35px;
    margin-bottom: 17px;
    width: 180px;
}

.nav>div>.dashboard:hover,
.nav>div>.action:hover,
.nav>div>.ai:hover,
.nav>div>.test:hover,
.nav>div>.friend:hover,
.nav>div>.setting:hover {
    background-color: rgba(128, 128, 128, 0.048);
}

.active>p {
    color: black;
}

.active {
    display: block;
    border-right: 3px solid black;
    width: 20px;
}

.outlet {
    width: 84vw;
    position: absolute;
    top: 10px;
    right: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    /* border:1px solid red; */
}

.home>.trop {
    position: absolute;
    right: 35px;
    top: 30px;
}

.home-profile > div {
    border: 1px solid rgb(138, 138, 138);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile > div > img {
    height: 30px;
}

.home-profile {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.home-profile > p {
    /* border: 1px solid red; */
    display: block;
    width: 110px;
    overflow-x: hidden;
    font-size: 14px;
}

@media (max-width: 768px) {
    .head-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 20px;
        /* color: #000; */
    }
    
    .nav {
        height: 100vh;
        width: 182px;
        position: fixed;
        top: 0px;
        left: 0px;
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.171);
        background-color: white;
        z-index: 100;
        transform: translateX(-185px);
        transition: transform 0.3s ease;
        /* border: 1px solid red; */
    }
    
    .nav > div:first-child {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nav>div {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .nav>.logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        margin-bottom: 35px;
        cursor: default;
    }
    
    .nav>.logo-box>.logo {
        height: 20px;
        width: 40px;
        margin-right: 10px;
    }

    .nav>.logo-box>.name {
        height: 23px;
        width: 80px;
        /* border: 2px solid red; */
    }

    .nav>.dashboard>img,
    .nav>.action>img,
    .nav>.ai>img,
    .nav>.test>img,
    .nav>.friend>img,
    .nav>.setting>img {
        height: 22px;
        width: 22px;
        margin-right: 15px;
        margin-left: 30px;
    }

    .nav>.dashboard,
    .nav>.action,
    .nav>.ai,
    .nav>.test,
    .nav>.friend,
    .nav>.setting {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        color: rgba(86, 86, 86, 0.67);
        height: 35px;
        margin-bottom: 17px;
        width: 180px;
    }

    .nav>.dashboard:hover,
    .nav>.action:hover,
    .nav>.ai:hover,
    .nav>.test:hover,
    .nav>.friend:hover,
    .nav>.setting:hover {
        background-color: rgba(128, 128, 128, 0.048);
    }

    .active-nav {
        transform: translateX(0px);
    }

    .head-mobile>div:first-child {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .mobile-menu {
        position: relative;
        height: 40px;
        width: 40px;
        z-index: 3;
        cursor: pointer;
        border: 1.5px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu img {
        height: 50%;
        width: 60%;
        border-radius: 50%;
    }

    .mobile-logo {
        position: relative;
        margin-left: 0px;
        height: 40px;
        width: 150px;
        z-index: 3;
        border: 1.5px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .mobile-logo>img:first-child {
        height: 35px;
        width: 30px;
        margin-right: 5px;
    }

    .mobile-logo>img:not(:first-child) {
        height: 25px
    }

    .outlet {
        width: 96vw;
        position: relative;
        top: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        /* border:1px solid red; */
        overflow-x: auto;
    }

    .page-name {
        position: relative;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }

    .page-name>h2 {
        font-size: 20px;
        margin: 1px;
    }

    .page-name>img {
        height: 25px;
        width: 25px;
        margin-left: 10px;
    }

    h3 {
        display: none;
    }

    .dark {
        background-color: rgba(0, 0, 0, 0.212);
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 3s ease;
    }

    
}