.action-com {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 65px;
    padding: 20px;
    padding-left: 30px;
    /* border: 1px solid red; */
}

.card-button {
    height: 240px;
    width: 520px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
}

.bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    /* GPU acceleration */
    transform: translateZ(0);
    will-change: transform;

    /* loading transition */
    transition: opacity 0.15s ease;
}

/* hidden before load */
.bg-img.hide {
    opacity: 0;
}

/* visible after load */
.bg-img.show {
    opacity: 1;
}

.img-loader {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            #000000 25%,
            #ffffff 37%,
            #ffffff 63%);
    background-size: 400% 100%;
    animation: shimmer 1.5s ease infinite;
    z-index: 1;
    border-radius: inherit;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.text {
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.text p:first-child {
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.text .sub {
    font-size: 13px;
    margin-top: 5px;
    color: white;
}

.arrow {
    height: 30px;
}


@media (max-width: 768px) {

    .action-com {
        width: calc(100% - 25px);
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .button {
        height: 200px;
        width: 90vw;
    }

    .text p:first-child {
        font-size: 20px;
    }

    .text .sub {
        font-size: 15px;
        color: white;
    }

    .arrow {
        height: 30px;
    }
}