.action-com {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 80px;
    padding: 20px;
}

.action-com > div {
    height: 240px;
    width: 520px;
    background-color: rgb(134, 134, 134);
    border-radius: 20px;
    display: flex;
}

.action-com > div > p:first-child {
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    color: white;
}

.action-com > div p:not(:first-child) {
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 13px;
    color: white;
}

.action-com > div > img {
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.action-com > div:nth-child(1) {
    background-image: url('/src/assets/action/study_plan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.action-com > div:nth-child(2) {
    background-image: url('/src/assets/action/communication_improver.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.action-com > div:nth-child(3) {
    background-image: url('/src/assets/action/study_progress.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.action-com > div:nth-child(4) {
    background-image: url('/src/assets/action/personal_assistant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}