.action-com {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 80px;
    padding: 20px;
    padding-left: 30px;
    /* border: 1px solid red */
}

.action-com > div {
    height: 240px;
    width: 520px;
    background-color: rgba(134, 134, 134, 0.301);
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.action-com > div > p:first-child {
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    color: white;
}

.action-com > div p:not(:first-child) {
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 13px;
    color: white;
}

.action-com > div > img {
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.action-com > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}