.plan {
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    margin-top: 100px;

}

.intro {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: center;
}

.plan.uploaded .intro {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease;
}

.file-card {
    width: 500px;
    border: 2px solid rgba(38, 97, 178, 1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px rgba(38, 97, 178, 0.3);

    animation: slideFade 0.4s ease forwards;
}

.file-preview {
    width: 120px;
    height: 160px;
    border-radius: 10px;
    background: #f4f6fb;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-preview img,
.file-preview canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-details p {
    margin: 6px 0;
    font-size: 16px;
    color: #333;
}

.file-card {
    position: relative;
}

.cancel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn:hover {
    background: white;
    transform: scale(1);
}


@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.query button p {
    margin: 0;
}
