.card {
    width: 720px;
    background: #fff;
    border-radius: 14px;
    padding: 32px;
    box-shadow: 0 8px 20px #0000001f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(38, 96, 178, 0.329);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.card-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background: #245bbb;
    width: 100%;
    transition: all 0.6s ease;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

h2 {
    margin-bottom: 24px;
    color: #0b2a5b;
}

/* Footer */
.footer {
    display: flex;
    margin-top: 0px;
    padding: 0px 10px;
}

.next,
.previous {
    height: 40px;
    padding: 0 20px;
    background: #245bbb;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: -5px;
    margin-right: -5px;
}
@media (max-width: 768px) {
    .card {
        max-width: 75vw; 
        padding: 20px;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 20px auto;
        margin-top: -30px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .footer {
        align-items: flex-end;
        gap: 12px;
        padding: 10px 0;
    }

    .next,
    .previous {
        width: 40%;
        height: 44px;
        font-size: 16px;
        margin: 0;
    }
}
