

.login-alart > h2 {
    font-size: 18px;
    color: rgb(37, 37, 37);
}

.login-alart > button {
    background-color: black;
    color: white;
}

.logo-sec {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 30px;
}

.logo-sec > .logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.logo-sec > .name {
    height: 32px;
}

.auth-sec {
    display:grid;
    text-align: center;
    justify-content: center;


    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.auth-sec > h4 {
    color: rgb(236, 46, 46);
}

.auth-sec > h2 {
    font-size: 35px;
    margin-bottom: -7px;
}

.auth-sec > p {
    color: rgba(146, 146, 146, 1);
    margin-bottom: 35px;
}

.auth-sec > input {
    height: 45px;
    width: 363px;
    border-radius: 25px;
    border: 2px solid rgba(181, 181, 181, 1);
    /* margin-bottom: -5px; */
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

input::placeholder {
    font-size: 17px;
}

.auth-sec > .continue {
    height: 50px;
    width: 409px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.auth-sec > .google-but {
    height: 50px;
    width: 409px;
    border-radius: 25px;
    border: 2px solid rgba(181, 181, 181, 1);
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 17px;
    color: rgba(146, 146, 146, 1);
    margin-top: -10px;
    margin-bottom: -5px;
}

.auth-sec > .google-but > img {
    width: 30px;
    height: 30px;
    margin: 15px;
}

.auth-sec > .phone-but {
    height: 50px;
    width: 409px;
    border-radius: 25px;
    border: 2px solid rgba(181, 181, 181, 1);
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 17px;
    color: rgba(146, 146, 146, 1);
}

.auth-sec > .phone-but > img {
    width: 35px;
    height: 35px;
    margin: 15px;
}

button , .button {
  transition: transform 0.1s ease;
  cursor: pointer;
}

button:hover, .button:hover {
    transform: scale(1.01);
}

button:active, .button:active {
  transform: scale(1);
}
