.row {
  display: flex;
  gap: 18px;
  margin-bottom: 15px;
}

.dob,
.gender {
  max-width: 180px;
}

.dob>input {
  width: 85%;
}

.gender>select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.mobile {
  max-width: 300px;
}

.mobile>input {
  width: 90%;
}

.email,
.linkedin {
  max-width: 340px;
}

.email>input,
.linkedin>input {
  width: 90%;
}

.field {
  flex: 1;
}

select,
input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1.5px solid #7b8fc7;
  outline: none;
}

select {
  background: #fff;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    gap: 18px;
    margin-bottom: 0px;
  }

  .dob,
  .gender {
    max-width: 180px;
  }

  .dob>input {
    background-color: white;
    width: 85%;
  }

  .gender>select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }

  .mobile {
    width: 320px;
  }

  .mobile>input {
    /* border: 2px solid red; */
    width: 99%;
  }

  .email,
  .linkedin {
    max-width: 340px;
  }

  .email>input,
  .linkedin>input {
    width: 90%;
  }

  .field {
    flex: 1;
  }

  select,
  input {
    width: 100%;
    height: 38px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1.5px solid #7b8fc7;
    outline: none;
  }

  select {
    background: #fff;
  }

  .second {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .second > div >input {
    width: 99%;
    /* border: 2px solid red; */
  }

}