.row {
  display: flex;
  gap: 18px;
  margin-bottom: 15px;
}

.dob, .gender{
    max-width: 180px;
}

.dob > input{
    width: 85%;
}

.gender > select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.mobile {
    max-width: 300px;
}

.mobile > input {
    width: 90%;
}

.email,.linkedin {
    max-width: 340px;
}

.email > input , .linkedin > input {
    width: 90%;
}

.field {
  flex: 1;
}

select,
input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1.5px solid #7b8fc7;
  outline: none;
}

select {
  background: #fff;
}
