.today-track {
    width: 450px;
    padding: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.today-track > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.today-track > div:first-child > h2 {
    font-size: 20px;
    margin-left: 10px;
}

.today-track > div:first-child > img {
    height: 30px;
}


.pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.pro > p {
    width: 45px;
    text-align: right;
}

.pro > .bar {
    border: 1px solid rgba(21, 135, 25, 1);
    height: 16px;
    width: 350px;
    margin-right: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.pro > .bar > .state {
    height: 16px;
    background-color: rgba(21, 135, 25, 1);
    border-radius: 30px;
    transition: all 0.5s ease;
}


.today-track > div:nth-child(n + 3) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.today-track > div:nth-child(3){
    margin-top: 5px;
}

.today-track > div:nth-child(n + 3) > p {
    width: 290px;
    font-size: 18px;
}

.today-track > div:nth-child(n + 3) > button {
    height: 30px;
    width: 110px;
    background-color: white;
    border-radius: 40px;
    font-size: 15px;
}

.done {
    color: rgba(21, 135, 25, 1);
    border: 2px solid rgba(21, 135, 25, 1);
}

.comp {
    border: 2px solid rgba(142, 142, 142, 0.822);
    color: rgb(142, 142, 142);
}

@media (max-width: 768px) {
    .today-track {
        width: 90%;
        /* border: 2px solid red; */
    }

    .pro > .bar {
        width: 260px;
    }

    .today-track > div:nth-child(n + 3) > p {
        width: 215px;
        font-size: 18px;
    }

    .today-track > div:nth-child(n + 3) > button {
        height: 25px;
        width: 90px;
        font-size: 13px;
    }
}