.trop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    border: 2p solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.trop > img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-left: 5px;
}

.trop > p {
    font-size: 14px;
}