.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.update-box {
    background: var(--bg-card);
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.update-box h1 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    color: var(--text-primary);
}

.update-box input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--border-primary);
    outline: none;
    width: 90%;
    height: 25px;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.update-box input::placeholder {
    color: var(--input-placeholder);
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.confirm {
    flex: 1;
    background: var(--accent-success);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 100;
    font-size: 15px;
}

.confirm:hover {
    background: var(--accent-success);
    opacity: 0.9;
}

.cancel {
    flex: 1;
    background: var(--accent-primary);
    color: var(--text-primary);
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel:hover {
    background: var(--accent-primary);
    opacity: 0.9;
}