.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.update-box {
    background: #fff;
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.update-box h1 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
}

.update-box input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    width: 90%;
    height: 25px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.confirm {
    flex: 1;
    background: #10b981;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 100;
    font-size: 15px;
}

.confirm:hover {
    background: #099e6d;
}

.cancel {
    flex: 1;
    background: #e5e7eb;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel:hover {
    background-color: hwb(0 84% 16%);
}
