.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.settings>.main-prof {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-secondary);
    box-shadow: var(--shadow-md);
}

.settings>.main-prof>img {
    height: 130px;
    width: 130px;
}

.settings>p {
    font-size: 20px;
    color: var(--text-primary);
}

.account-set {
    width: 70%;
    border: 1px solid var(--border-primary);
    border-radius: 20px;
    margin-top: 20px;
    background-color: var(--bg-card);
}

.account-set>h4 {
    margin-left: 25px;
    margin-top: 20px;
    color: var(--text-primary);
}

.account-set>p {
    margin-left: 25px;
    margin-top: -15px;
    color: var(--text-secondary);
    font-size: 15px;
}

.account-set>div {
    width: 90%;
    margin: 0 auto;
    margin-top: -12px;
    margin-bottom: 10px;
}

.account-set>div>div:first-child {
    /* border: 1px solid red; */
    display: flex;

}

.account-set>div>div:first-child>div:first-child {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 80%;
    margin: 0;
}

.account-set>div>div:first-child>div:first-child>p:first-child {
    /* border: 1px solid blue; */
    width: 110px;
    color: var(--text-primary);
}

.account-set>div>div:first-child>div:first-child>p:not(:first-child) {
    color: var(--text-secondary);
    width: 370px;
}


.account-set>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.account-set>div>div>p:first-child {
    /* border: 1px solid blue; */
    width: 110px;
    color: var(--text-primary);
}

.account-set>div>div:not(:first-child) {
    padding-right: 14px;
}

.account-set>div>div>p:not(:first-child) {
    /* border: 1px solid red; */
    /* border: 1px solid red; */
    width: 400px;
    color: var(--text-secondary);
    font-size: 15px;
    overflow-x: auto;
    margin-left: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.account-set>div>div>p:not(:first-child)::-webkit-scrollbar {
    display: none;
}

.account-set>div>div:not(:first-child) {
    border-top: 1px solid var(--border-primary);
}

.account-set>div>div:first-child>div {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-secondary);
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-set>div>div:first-child>div>img {
    height: 50px;
}

.account-set>div>div>img {
    height: 25px;
}

/* app settings */

.app-set {
    width: 70%;
    border: 1px solid var(--border-primary);
    border-radius: 20px;
    margin-top: 20px;
    background-color: var(--bg-card);
}

.app-set>h4 {
    margin-left: 25px;
    margin-top: 20px;
    color: var(--text-primary);
}

.app-set>p {
    margin-left: 25px;
    margin-top: -15px;
    color: var(--text-secondary);
    font-size: 15px;
}

.app-set>div {
    width: 90%;
    margin: 0 auto;
    margin-top: -12px;
    margin-bottom: 10px;
}

.app-set>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;
    cursor: pointer;
}

.app-set>div>div:first-child {
    margin-top: 25px;
}

.app-set>div>div>p:first-child {
    width: 110px;
    color: var(--text-primary);
    /* border: 1px solid red; */
}

.app-set>div>div>p:not(:first-child) {
    /* border: 1px solid red; */
    width: 400px;
    color: var(--text-secondary);
    font-size: 15px;
}

.app-set>div>div:not(:first-child) {
    border-top: 1px solid var(--border-primary);
}

.app-set>div>div>img {
    height: 25px;
}

.acc {
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.acc>.log-out {
    width: 49%;
    height: 45px;
    background-color: var(--accent-primary);
    border: none;
    border-radius: 10px;
    color: var(--text-tertiary);
    font-size: 19px;
    /* font-weight: bold; */
}

.acc>.delete-acc {
    width: 49%;
    height: 45px;
    background-color: var(--accent-danger);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    /* font-weight: bold; */
}

.reload-setting {
    background-color: var(--bg-card);
    border: none;
    position: absolute;
    top: 330px;
    right: 190px;
}

.reload-setting>img {
    height: 25px;
}

.reload-setting:hover {
    background-color: var(--bg-card);
}

@media (max-width: 768px) {

    .settings>.main-prof {
        margin-top: -40px;
    }

    .settings>p {
        font-size: 22px;
    }

    .account-set {
        width: 98%;
    }



    .account-set>div>div>p:first-child {
        width: 160px;
        /* border: 1px solid red; */
    }

    .account-set>div>div:not(:first-child) {
        /* border: 1px solid red; */
        padding-right: 14px;
    }

    .account-set>div>div>p:not(:first-child) {
        /* border: 1px solid red; */
        width: 400px;
        color: var(--text-secondary);
        font-size: 15px;
    }

    .account-set>div>div:not(:first-child) {
        border-top: 1px solid var(--border-primary);
    }

    .account-set>div>div:first-child>div {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-secondary);
        border-radius: 50%;
        box-shadow: var(--shadow-sm);
        margin-left: -20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .account-set>div>div:first-child>div>img {
        height: 50px;
    }

    .account-set>div>div>img {
        height: 25px;
    }


    /* app settings */

    .app-set {
        width: 98%;
    }

    .app-set>div {
        width: 90%;
        margin: 0 auto;
        margin-top: -12px;
        margin-bottom: 10px;
    }

    .app-set>div>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 14px;
        cursor: pointer;
    }

    .app-set>div>div:first-child {
        margin-top: 25px;
    }

    .app-set>div>div>p:first-child {
        width: 190px;
        /* border: 1px solid red; */
    }

    .app-set>div>div>p:not(:first-child) {
        /* border: 1px solid red; */
        width: 400px;
        color: var(--text-secondary);
        font-size: 15px;
    }

    .app-set>div>div:not(:first-child) {
        border-top: 1px solid var(--border-primary);
    }

    .app-set>div>div>img {
        height: 25px;
    }

    .acc {
        /* border: 1px solid red; */
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .acc>.log-out {
        width: 100%;
        height: 45px;
        background-color: var(--accent-primary);
        border: none;
        margin-bottom: 10px;
        border-radius: 10px;
        color: var(--text-tertiary);
        font-size: 19px;
    }

    .acc>.delete-acc {
        width: 100%;
        height: 45px;
        background-color: var(--accent-danger);
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 19px;
        /* font-weight: bold; */
    }

    .account-set>div>div:first-child {
        display: flex;

    }

    .account-set>div>div:first-child {
        border: none;
        display: flex;

    }

    .account-set>div>div:first-child>div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        gap: 0px;
        border-radius: 0;
        padding: 0px;
        border: none;
        box-shadow: none;
        width: 80%;
        margin: 0;
    }

    .account-set>div>div:first-child>div:first-child>p:first-child {
        width: 210px;
        margin-bottom: -10px;
        text-align: left;
    }

    .account-set>div>div:first-child>div:first-child>p:not(:first-child) {
        color: var(--text-secondary);
        width: 280px;
        font-size: 12px;
    }

    .reload-setting {
        background-color: white;
        border: none;
        position: absolute;
        top: 295px;
        right: 20px;
    }
}