.gen-test {
  display: grid;
  justify-items: center;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}

.gen-test>h2 {
  margin-top: 100px;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-test {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* border: 1px solid red; */
}

.no-test>input {
  width: 100px;
}


.gen-test>p {
  margin-top: -10px;
  width: 500px;
  text-align: center;
  font-size: 18px;
  color: rgba(87, 87, 87, 1);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-input {
  height: 50px;
  width: 650px;
  border: 2px solid rgba(38, 97, 178, 1);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 0px 10px rgba(38, 97, 178, 0.66);
  margin-top: 25px;
  background-color: #fff;
  margin-bottom: 40px;
}

.text-input>input {
  width: 490px;
  height: 50px;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(36, 36, 36);
  padding: 10px;
  overflow-y: auto;
  background-color: transparent;
}

.gen-test button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(38, 97, 178, 1);
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.gen-test button:hover {
  opacity: 0.9;
}

.gen-test button img {
  height: 25px;
  margin-right: 10px;
}

/* .input {
  border: 2px solid rgba(38, 97, 178, 1);
  border-radius: 15px;
  padding: 10px 25px;
  box-shadow: 0px 0px 10px rgba(38, 97, 178, 0.66);
  background-color: #fff;
  margin-top: 20px;
} */

.first-row {
  /* border: 1px solid red; */
  width: 420px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.second-row {
  width: 420px;
  /* border: 1px solid red; */

}

.second-row>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-row>div>input {
  width: 200px;
}

.second-row>div>p {
  width: 170px;
}

@media (max-width: 768px) {
  .gen-test {
    display: grid;
    margin: 0 auto;
    margin-top: 8vh;
    justify-items: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 40px;
    width: 95%;
  }

  .gen-test>h2 {
    margin-top: 0px;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: -10px;
  }

  .no-test {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .no-test>input {
    width: 100px;
  }


  .gen-test>p {
    margin-top: -10px;
    width: 90vw;
    text-align: center;
    font-size: 16px;
    color: rgba(87, 87, 87, 1);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: -10px;
    margin-bottom: 30px;
  }

  .text-input {
    height: 50px;
    width: 85vw;
    border: 2px solid rgba(38, 97, 178, 1);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 10px rgba(38, 97, 178, 0.66);
    margin-top: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    /* border: 1px solid red; */
  }

  .text-input>input {
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(36, 36, 36);
    padding: 10px;
    overflow-y: auto;
    background-color: transparent;
  }

  .gen-test button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 97, 178, 1);
    color: white;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
  }

  .gen-test button:hover {
    opacity: 0.9;
  }

  .gen-test button img {
    height: 25px;
    margin-right: 10px;
  }

  .input {
    margin-left: -10px;
  }

  .first-row {
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    /* border: 1px solid red; */
  }

  .second-row {
    width: 90%;
    margin: 0 auto;
  }

  .second-row>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .second-row>div>input {
    width: 200px;
  }

  .second-row>div>p {
    width: 170px;
  }
}